[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/saz/puppet-memcached
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp
[submodule "modules/puppi"]
	path = modules/puppi
	url = https://github.com/example42/puppi
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget
[submodule "modules/composer"]
	path = modules/composer
	url = https://github.com/willdurand/puppet-composer
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/php"]
	path = modules/php
	url = http://github.com/example42/puppet-php
[submodule "modules/staging"]
	path = modules/staging
	url = https://github.com/nanliu/puppet-staging
[submodule "modules/timezone"]
	path = modules/timezone
	url = https://github.com/saz/puppet-timezone
[submodule "modules/yum"]
	path = modules/yum
	url = https://github.com/example42/puppet-yum
[submodule "modules/install"]
	path = modules/install
	url = https://github.com/ninina31/tfm-install
[submodule "modules/init_mysql"]
	path = modules/init_mysql
	url = https://github.com/ninina31/tfm-init_mysql
[submodule "shared/www"]
	path = shared/www
	url = https://github.com/ninina31/portal-examenes
